# Archivos de Unity que no deben subirse
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/com.unity.package-manager-ui/
sysinfo.txt

# Archivos del editor
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.userprefs

# Archivos muy grandes excluidos
Assets/Character/Zombie/Ch10_nonPBR@Running.fbx